<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ title() }} </mat-panel-title>
      <mat-panel-description> {{ headerRightSide() }} </mat-panel-description>
    </mat-expansion-panel-header>
    <div>{{ subtitle() }}</div>
    <p>{{ text() }}</p>
    <mat-action-row>
      <app-publish-button [class.hide]="!showPublishBtn()" (publishAction)="publish()"></app-publish-button>
      <app-unpublish-button [class.hide]="!showUnpublishBtn()" (unpublishAction)="unpublish()"></app-unpublish-button>
      <app-done-button [class.hide]="!showDoneBtn()" (doneAction)="done()"></app-done-button>
      <app-edit-button [class.hide]="!showEditBtn()" (editAction)="edit()"></app-edit-button>
      <app-delete-button [class.hide]="!showDeleteBtn()" (deleteAction)="delete()"></app-delete-button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>