<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        @if(priorityClass()){
        <i class="fa-solid fa-circle {{priorityClass()}}"></i>
        }
        {{ title() }}
      </mat-panel-title>
      <mat-panel-description class="header-right"> {{ headerRightSide() }} </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="date-time-container">
      <span class="date-container">
        @if(dateFromDate()){
        <span><i class="fa-regular fa-calendar-days"></i> {{ dateFromDate() | date: 'dd.MM.YYYY' }}</span>
        }
        @if(printToDate()){
        <span> - {{ toDate() | date: 'dd.MM.YYYY' }}</span>
        }
      </span>
      <span class="time-container">
        @if(timeFromTime()){
        <span><i class="fa-regular fa-clock"></i> {{ timeFromTime() }}</span>
        }
        @if(printToTime()){
        <span> - {{ printToTime() }}</span>
        }
      </span>
    </div>
    <div>{{ subtitle() }}</div>
    <p>{{ text() }}</p>
    <mat-action-row>
      <app-blanko-button [class.hide]="!showBlankoBtn()" (blankoAction)="blanko()"></app-blanko-button>
      <app-accept-button [class.hide]="!showAcceptBtn()" (acceptAction)="accept()"></app-accept-button>
      <app-deny-button [class.hide]="!showDenyBtn()" (denyAction)="deny()"></app-deny-button>
      <app-publish-button [published]="published()" [class.hide]="!showPublishBtn()"
        (publishAction)="publish()"></app-publish-button>
      <app-unpublish-button [published]="published()" [class.hide]="!showUnpublishBtn()"
        (unpublishAction)="unpublish()"></app-unpublish-button>
      <app-done-button [class.hide]="!showDoneBtn()" (doneAction)="done()"></app-done-button>
      <app-edit-button [class.hide]="!showEditBtn()" (editAction)="edit()"></app-edit-button>
      <app-delete-button [class.hide]="!showDeleteBtn()" (deleteAction)="delete()"></app-delete-button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>