<h2>Privater Bereich Fantasien</h2>
<div class="show-container">
  <span class="show done" (click)="loadPrivateFantasies()"><i class="fa-solid fa-eye sizing-eyes"></i><i>Alle</i></span>
  <span class="show done" (click)="loadPrivateDone()"><i class="fa-solid fa-eye sizing-eyes"></i><i>erledigt</i></span>
  <span class="show accepted" (click)="loadPrivateAccepted()"><i
      class="fa-solid fa-eye sizing-eyes"></i><i>angenommen</i></span>
  <span class="show denied" (click)="loadPrivateDenied()"><i
      class="fa-solid fa-eye sizing-eyes"></i><i>abgelehnt</i></span>
</div>
<mat-divider></mat-divider>
<app-plus-button (openCreateAction)="openCreate()"></app-plus-button>
@if(fantasies().length > 0){
<mat-accordion>
  @for(fantasy of fantasies(); track $index){
  <app-private-fantasy-item [fantasyItem]="fantasy!" (publishAction)="publish($event)"
    (unpublishAction)="unpublish($event)" (doneAction)="done($event)" (editAction)="openEdit($event)"
    (deleteAction)="deleteFantasyItem($event)"></app-private-fantasy-item>
  }
</mat-accordion>
}@else {
<app-message-container [message]="message()"></app-message-container>
}