/* .fa-circle-plus {
  color: rgb(0, 92, 187);
  cursor: pointer;
  height: 60px;
  width: 60px;
} */

.sizing-eyes {
  font-size: 1.2rem;
  margin: 0.26rem;
}

.show-container {
  margin: 1rem;
}

.show {
  margin: 0.5rem;
  cursor: pointer;
}

.done {
  color: seagreen;
}

.accepted {
  color: dodgerblue;
}

.denied {
  color: indianred;
}

.create-btn-container {
  display: flex;
  align-items: center;
}