<section class="example-section">
  <div [formGroup]="form">
    <span class="example-list-section">
      <ul>
        @for (item of items(); track item.id; let i = $index) {
        <li>
          <mat-checkbox class="checkbox-item" [checked]="item.isChecked == true" (change)="update($event.checked, i)">
            {{item.label}}
          </mat-checkbox>
          <app-delete-button (deleteAction)="delete(item)"></app-delete-button>
        </li>
        }
      </ul>
    </span>
    <app-save-button (saveAction)="toggleChecked()"></app-save-button>
  </div>

</section>