<div class="form-container">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Empfänger</mat-label>
      <mat-select formControlName="userIdRecipient">
        @for ( user of availableUsers(); track user) {
        <mat-option [value]="user.id">{{user.nickname}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>
        Betreff
      </mat-label>
      <input matInput id="subject" formControlName="subject">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>
        Nachricht
      </mat-label>
      <textarea matInput id="text" formControlName="text"></textarea>
    </mat-form-field>

    <mat-action-row>
      <button mat-button (click)="onCancel()">abbrechen</button>
      <button mat-button type="button" (click)="saveAsDraft()" [disabled]="form.invalid">Entwurf
        speichern</button>
      <button mat-button type="submit" [disabled]="form.invalid">speichern</button>
    </mat-action-row>
  </form>
</div>