<h2>Unternehmungen</h2>
<app-plus-button (openCreateAction)="openCreateActivityItem()"></app-plus-button>
@if(activities().length > 0){
<mat-accordion multi>
  @for(activity of activities(); track $index){
  <app-activity-item [activityItem]="activity" (editActivityItemAction)="openEditActivityItem($event)"
    (deleteActivityItemAction)="deleteActivityItem($event)" (takeAwaysAction)="openTakeAways(activity.id!)"
    (doneActivityItemAction)="doneActivityItem($event)"></app-activity-item>
  }
</mat-accordion>
}@else {
<app-message-container [message]="message()"></app-message-container>
}