.text-container {
  border: 1px solid rgb(171, 192, 213);
  padding: 3px 20px;
  border-radius: 10px;
  color: rgb(171, 192, 213);
  margin: 10px 0;
  max-width: 510px;
}

@media (max-width: 768px) {
  .text-container {
    /* padding: 3px 10px; */
    border-radius: 5px;
    margin: 5px 0;
  }
}